@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 390px;
    height: 844px;
    padding-top: 45px; 
    padding-left: 21px;
    padding-right: 21px;
}
/*********************** header *****************************/

.header {
    /* background: red; */
    
}
.header_img{
    width: 352px;
    height: 34px;
    /* background: purple; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.img1{
    width: 32px;
    height: 32px;
    display: flex;
    
}
.img2{
    width: 34px;
    height: 34px;
    
}
/*********************** title header *****************************/

.header_title{
    /* background: green; */
    width: 265px;
    height: 72px;
    margin-top: 20px;
    h1{
        font-size: 30px;
        font-family: "Inter-SemiBold";
    }
} 
.special {
    color: var(--color-10);
}
/************************ Search ******************************/

.container_nav{
    /* background: blue; */
}

.container_search { 
    /* background: violet; */
    width: 346px;
    height: 41px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
}
.search{
    
}
.container_search input{
    border: none;
    background: none;
}

/************************* Scroll ******************************/

.container_scroll {
    /* background: orange; */
    gap: 20px;
    width: 391px;
    height: 28px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    overflow-x: auto; /* Activa el scroll horizontal */
    white-space: nowrap; /* Evita que los elementos salten de línea */
    scrollbar-width: none; /* Oculta la barra de scroll en Firefox */
}
.container_scroll::-webkit-scrollbar {
    display: none;
}

.container_scroll a{
    flex: 0 0 auto;
    width: 112px;
    height: 28px;
    font-size: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    
}
.spacer {
    flex: 0 0 21px; /* Ajusta este valor según el espacio que necesites */
}

.container_scroll a:nth-child(1){
    background: #EDE9FF;
}
.container_scroll a:nth-child(2){
    background: #FFF5D7; 
}
.container_scroll a:nth-child(3){
    background: #FFECEC;
}
.container_scroll a:nth-child(4){
    background: #E4FFEA;
}

/*********************** main *************************/

.container_main {
    /* background: blue; */
    width: 346px;
    height: 219px;
    margin-top: 40px;
    
}
.container_group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 348px;
    height: 17px;
}
.title{
    font-size: 9px;
    width: 105px;
    font-family: "Inter-Semibold";
    height: 17px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    }
.paragraph{
    width: 38px;
    height: 15px;
    font-size: 12px;
    font-family: "Inter-Regular";
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    }


.container_img {
    background: green;
    width: 346px;
    height: 186px;
    margin-top: 16px;
    border-radius: 12px;
    position: relative;
    z-index: -1;
}
.container_list {
    background: var(--color-6);
    
    /*backdrop-filter: blur(8px); /* Difumina el fondo */
    width: 332px;
    height: 90px;
    border-radius: 10px;
    margin-left: 7px;
    margin-top: -100px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items:center;
    gap: 20px;
    position: absolute;
}
.list1 {
    /* background: purple; */
    h3{
        width: 184px;
        height: 15px;
        font-size: 12px;
        font-family: "Inter-Semibold";
        color: var(--color-1);
    }
}
.info1 {
    /* background: orange; */
    display: flex;
    /* justify-content: space-between; */
    gap: 8px;
    img{
        /* width: 10px;
        height: 11px; */
    }
    p{
        width: 163px;
        height: 15px;
        font-size: 12px;
        font-family: "Inter-Regular";
        color: var(--color-1);
        margin-top: 6px;
    }

}
.info2{
    /* background: yellow; */
    display: flex;
    /* justify-content: space-between; */
    gap: 8px;
    img{
        color: var(--color-1);
        width: 11px;
        height: 10px; 

    }
    p{
        width: 109px;
        height: 15px;
        font-size: 12px;
        font-family: "Inter-Regular";
        color: var(--color-1);
        margin-top: 6px;
    }
}
.list2{
    /* background: palevioletred; */
    width: 102px;
    height: 35px;
    h4{
        width: 48px;
        height: 12px;
        font-size: 10px;
        font-family: "Inter-Regular";
        color: var(--color-1);
        
    }
    p{
        width: 102px;
        height: 19px;
        font-size: 16px;
        font-family: "Inter-Semibold";
        color: var(--color-1);
        margin-top: 4px;
        
    };

}